* {
    box-sizing: border-box;
}

body {
    background: rgb(166, 168, 168);
    margin: 0;
}

.container {
    margin: auto;
    width: 768px;
    /*display: flex;
    align-items: center;
    justify-content: center;*/
}

header {
    margin: 0;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: column;
    background: darkorange;
}

.header-content {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

.header-content>a {
    font-family: Arial, Helvetica, sans-serif;
    font-variant-caps: all-small-caps;
    font-size: larger;
    color: black;
    border: none;
}

.header-content>form {
    display: flex;
    justify-content: row;
}

.header-content form input {
    padding: 1px 40px;
}

.header-content form button img {
    width: 13px;
    height: 13px;
}

h1 {
    margin: 0;
}

nav {
    width: 100%;
    height: 50px;
    background: black;
}

.header-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    
}

.container .header-nav .links {
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.container .header-nav .links li a {
    color: white;
}

main {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: white;
}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
}

.section1>img {
    margin: 0;
    width: 100%;
    height: auto;
}

.section2 .top-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}

aside h3 {
    color: black;
}

footer h3 {
    display: flex;
    flex: direction;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.top-list img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 25px;
    margin: 0 10px;
}

.top-list>li {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    transition: all ease 0.3s;
    cursor: pointer;
}

.top-list>li:hover {
    background: #eeeeee;
}

.section3 {
    width: 100%;
    height: 150px;
    background: rgb(138, 123, 123);
    text-align: center;
}

.content {
    display: flex;
    border: 1px solid #999999;
}

@keyframes animacao {
    0% {
        background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    }
    50% {
        background: linear-gradient(-45deg, #23a6d5, #23d5ab, #23d5ab);
    }
    100% {
        background: linear-gradient(-45deg, #23d5ab, #23d5ab, #23a6ab);
    }
}

.product {
    display: flex;
    flex-direction: column;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin: 10px auto;
    width: 110px;
    justify-content: flex-end;
    align-items: center;
    background: linear-gradient(-45deg, #23a6d5, #23d5ab);
    animation-name: animacao;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.product .btn {
    padding: 0 10px;
    display: block;
    border-radius: 6px;
    text-decoration: none;
    color: black;
    background: linear-gradient(-45deg, #23d5ab, #23a6d5);
    transition-property: all;
    transition-timing-function: linear;
    transition-duration: 2s;
    animation-name: animacao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

h2 {
    text-align: center;
}

.product .price-off {
    color: rgb(100, 96, 96);
    font-size: 15px;
    margin: 0;
}

.product .price-on {
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    color: green;
    margin-top: 0;
    margin-bottom: 0;
}

.product .card-img {
    width: inherit;
    margin: 0 5px;
}

.section {
    width: 80%;
    height: 100px;
    background: bisque;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
}

h3 {
    display: flex;
    justify-content: center;
}

footer {
    width: 100%;
    background: black;
    height: 250px;
}

.container-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.container-footer .links-footer {
    margin: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-footer .links-footer li a {
    color: white;
}

.container-footer .top-list {
    /*background: black;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    transition: all ease 0.3s;
    cursor: pointer;
}

footer .container .container-footer .list .top-list:hover {
    background-color: rgb(105, 103, 103);
}

.container-footer>img {
    width: 10px;
    height: 10px;
    margin: 0 10px;
}

@media screen and (max-width:768px) {
    .container {
        width: 100%;
    }
    header {
        width: 100%;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .header-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    header h1 {
        width: 100%;
        height: auto;
        background: darkorange;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    header form {
        width: 100%;
        height: auto;
        background: darkorange;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .header-content>a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        height: auto;
        background: darkorange;
    }
    nav .container .header-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .container .header-nav .links a {
        margin: 0;
        width: 50%;
        height: 50px;
        display: flex;
        flex-wrap: wrap;
        color: white;
    }
    main {
        width: 100%;
    }
    aside {
        width: 100%;
    }
    .content {
        display: flex;
        flex-wrap: row;
        flex-direction: column;
    }
    .section1>img {
        width: 100%;
        height: auto;
    }
    .section2 .top-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
    }
    .section3 {
        width: 100%;
        height: 150px;
        background: rgb(138, 123, 123);
        text-align: center;
    }
    footer {
        width: 100%;
        background: black;
        height: 100%;
    }
    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:400px) {
    .container {
        width: 100%;
    }
    header {
        width: 100%;
        height: 150px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .header-content {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    header h1 {
        width: 100%;
        height: auto;
        background: darkorange;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    header form {
        width: 100%;
        height: auto;
        background: darkorange;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .header-content>a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 50%;
        height: auto;
        background: darkorange;
    }
    nav .container .header-nav {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    .container .header-nav .links a {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color:white;
    }
    main {
        width: 100%;
    }
    aside {
        width: 100%;
    }
    .content {
        display: flex;
        flex-wrap: row;
        flex-direction: column;
    }
    .section1>img {
        width: 100%;
        height: auto;
    }
    .section2 .top-list {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        display: flex;
    }
    .section3 {
        width: 100%;
        height: 150px;
        background: rgb(138, 123, 123);
        text-align: center;
    }
    footer {
        width: 100%;
        background: black;
        height: 100%;
    }
    .container-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}